<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel VueJS</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<body>
    <main class="container" id="root">
        <!-- Showreel of places  -->
        <div class="img_showreel clearfix">
            <!-- Main img -->
            <div class="hero">
                <div v-for="card in cards" v-show="card.status" class="hero_content">
                    <img :src="'./assets/' + card.img" alt="">
                    <div class="hero_txt">
                        <h1>{{card.title}}</h1>
                        <p>{{card.text}}</p>
                    </div>
                </div>
            </div>

            <!-- Carousel w/ thumbnails -->
            <div class="carousel">
                <!-- Thumbnails  -->
                <div v-for="(card, index) in cards" class="thumb_img" :class="card.classActive">
                    <img :src="'./assets/' + card.img" :alt="index">
                </div>

                <!-- Buttons  -->
                <button @click="scrollUp" id="btn_up" class="scroll_btn">
                    <i class="fas fa-chevron-up"></i>
                </button>
                <button @click="scrollDown" id="btn_down" class="scroll_btn">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </div>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>