*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region DEBUG */
.debug .img_showreel{
    height: 500px;
    width: 100%;
    background: aquamarine;
}
.debug .hero{
    height: 100%;
    background:chocolate;
}
.debug .carousel{
    background:chartreuse;
    height: 100%;
}
.debug .thumb_img{
    border: 1px solid red;
    height: calc(100% / 5);
    width: 100%;
}
/* #endregion DEBUG */

/* UTILITY */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.d_flex{
    display: flex;
}

/* COMMON */
img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.hero_content.active{
    display: block;
}
.thumb_img.active{
    filter: brightness(1);
    border: 2px solid #fff;
}

/* MAIN */
.container{
    width: 60%;
    height: 100vh;
    margin: auto;
    position: relative;
}
.img_showreel{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hero{
    float: left;
    width: 80%;
    height: 100%;
    position: relative;
}
.hero_content{
    height:100%;
    /* display: none; */
}
.hero_txt{
    width: 60%;
    text-align: end;
    color:white;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
.carousel{
    float: left;
    width: 20%;
    height:100%;
    position: relative;
}
.thumb_img{
    filter: brightness(0.4);
    height: calc(100% / 5);
    /* transition: filter 1s; */
}

/* buttons */
.scroll_btn{
    background: rgba(211, 211, 211, 0.8);
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}
#btn_up,
#btn_down{
    left: 50%;
    transform: translateX(-50%);
}
#btn_up{
    top: 10px;
}
#btn_down{
    bottom: 10px;
}

